html {
    color: #FAEAEA;
    font-family: "Montserrat";
    font-size: 62.5%; /* 1rem = 10px (10px / 16px = 0.625) */
    font-weight: 400;
    background-color: #FBEDED;
}
b {font-weight: 300; opacity: 0.9;}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    padding: 0 3rem;
    background-color: #FBEDED;
}
.logo img {
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
}
.header_text {
    color: #000;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
}

/* Main */
main {
    color: #ffffff;
    background-color: #939393;
}
h1 {
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 1px;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0;
    gap: 1vh;
}
.hero-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
}
.hero-img img {
    width: 100vw;
    height: 100%;
    border: 2px solid #ECB7B7;
    border-radius: 10px;
}
.hero_bottom_text {
    font-size: 1.4rem;
    text-align: center;
    width: 99vw;
}
.link-pin {
    color: lightblue;
}
.hero-button {
    width: 30vw;
    height: 8vh;
    max-height: 6vh;
    background-color: #967B7B;
    color: #FCF2F2;
    border: 1px solid #DEA6A6;
    border-radius: 10px;
    font-size: 1.6rem;
}
.wall {
    text-align: center;
    width: 100vw;
    background-color: #322A2A ;
    font-size: 1.4rem;
    letter-spacing: 2px;
    padding: 2%;
}
/* Catalog */
.catalog {
    background-color: #FBEDED;
    color: #000;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 50vh;
    padding: 3%;
}
.catalog_item {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.catalog_text {
    background-color: #fff;
}
/* Catalog-end */
/* Main */
/* Burger-styles */
.burger_menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 20px 0;
  width: 30px;
}
.burger_menu span {
  height: 4px;
  width: 30px;
  background-color: #333;
  opacity: 0.5;
  margin: 2px 0;
  transition: 0.4s;
  border-radius: 20%;
}
.burger_menu.active + nav {
    display: block;
}
nav {
    display: none;
    position: absolute;
    top: 7vh;
    height: auto; /* так как существует padding для li, это работает*/
    left: 70vw;
    width: 30vw;
    align-content: center;
    color: #fff;
    background-color: #333;
    border-radius: 10px 0 0 10px;
    z-index: 1000;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
li {
    font-size: 1.2rem;
    padding: 1rem 0;
}
/* Burger-styles-end */