html {
    color: #FAEAEA;
    font-family: "Montserrat";
    font-size: 62.5%; /* 1rem = 10px (10px / 16px = 0.625) */
    font-weight: 400;
    background-color: #FBEDED;
}
.hidden {display: none;} .hidden.visible {display: block;} /*BuyButtonToggle*/ 
b {font-weight: 300; opacity: 0.7;}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    padding: 0 3rem;
    background-color: #FBEDED;
}
.logo img {
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
}
.header_text {
    color: #000;
    font-size: clamp(1.5rem, 4vw, 25px);
    opacity: 0.6;
    letter-spacing: 0.4rem;
}

/* Main */
main {
    color: #ffffff;
    background-color: #322A2A;
}
h1 {
    text-align: center;
    font-size: 5vw;
    width: 95vw;
    letter-spacing: 1px;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.hero-img img {
    height: 99%;
    width: 100%;
    object-fit: cover;
    border: 2px solid #ECB7B7;
    border-radius: 10px;
}
.text_catalog { /*Именно сам текст "Каталог"*/
    width: 100%;
    text-align: center;
    background-color: #322A2A ;
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 2%;
}
/* Catalog */
.catalog {
    background-color: #FBEDED;
    color: #000;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 2%;
    gap: 20px;
}
.catalog_item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    font-weight: 300;
    background-color: #fff;
    border-radius: 30px 30px 0 0 ;
    gap: 10px;
    transition: 0.3s ease-in-out;
}
.catalog_item img{ 
  border-radius: 30px; 
  object-fit: cover;
  aspect-ratio: 1/1;
}
.catalog_item:hover {
  transform: scale(102%);
}
h2 {
    font-weight: bold;
    font-size: 2rem;
}
.catalog_text {
  font-size: 1.8rem;
}
.catalog-button {
    height: 5vh;
    width: 100%;
    background-color: #322A2A;
    color: #fff;
    font-size: 2.2rem;
    border: none;
    transition: 0.6s ease-in-out;
}
.catalog-button:hover {
  background-color: #555;
  cursor: pointer;
}
/* Catalog-end */
footer {
  background-color: #3E1616;
  padding: 2%;
}
.footer_container {
  padding: 3% 5% 0 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 2rem;
}
.footer_container p {
  transition: 0.3s ease-in-out;
}
.footer_container p:hover {
  color: #ECB7B7;
  cursor: pointer;
}
/* Main */
/* Burger-styles */
.burger_menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 20px 0;
  width: 30px;
}
.burger_menu span {
  height: 4px;
  width: 30px;
  background-color: #333;
  opacity: 0.5;
  margin: 2px 0;
  transition: 0.4s;
  border-radius: 20%;
}
.burger_menu.active + nav {
    display: block;
}
nav {
    display: none;
    position: absolute;
    top: 7vh;
    height: auto; /* так как существует padding для li, это работает*/
    left: 70vw;
    width: 30vw;
    align-content: center;
    color: #fff;
    background-color: #333;
    border-radius: 10px 0 0 10px;
    z-index: 1000;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
li {
    font-size: 1.5rem;
    padding: 1rem 0;
    transition: 0.2s ease-in-out;
}
li:hover {
  color: #000;
}
/* Burger-styles-end */

/*Modal-styles*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: modalAppear 0.3s ease;
}
@keyframes modalAppear {
  from {
    opacity: 0;
    transform: translateY(-1000px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}

.close:hover {
    color: #000;
}

#modal-text {
    margin: 20px 0;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
}

#modal-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 20px auto 0;
    cursor: pointer;
    border-radius: 5px;
}

#modal-button:hover {
    background-color: #45a049;
}
/*Modal-styles-end*/

/* 600px */
@media (min-width: 600px) {
  h1 {
    font-size: clamp(1.6rem, 5vw, 32px); 
  }
  .catalog_text {
    font-size: 2.5rem;
  }
  .catalog-button {
    font-size: 3rem;
  }
}
/* 600px */

/* 900px */
@media (min-width: 900px) {
  h1 {
    font-size: clamp(1.6rem, 5vw, 37px); 
  }
  h2 {
    font-size: 3rem;
  }
  .footer_container {
    font-size: 3rem;
  }
}
/* 900px */

/* 1000px */
@media (min-width: 1000px) {
  header {
    height: 10vh;
  }
  .logo img {
    width: 9vh;
    height: 9vh;
  }
  .text_catalog {
    font-size: 3rem;
  } 
  .catalog-button {
    height: 7vh;
  } 
}
/* 1000px */

/* 1200px */
@media (max-width: 1200px) {
  .hero_third_image {
    display: none;
  }
  .modal {
    margin-top: 50%;
  }
}
@media (min-width: 1200px) {
  /* Main */
  h1 {
    font-size: clamp(1.6rem, 5vw, 45px); 
  }
  .hero-img {
    grid-template-columns: repeat(3, 1fr);
  }
  .hero_third_image {
    display: inline;
  }
  .catalog {
    grid-template-columns: repeat(3, 1fr);
  }
  /* Main */

  /* Header */
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  nav {
    display: grid;
    justify-items: center;
    position: inherit;
    top: 0;
    width: auto;
    background-color: #FBEDED;
    color: #555;
    font-style: italic;
  }
  ul {
    flex-direction: row;
    gap: 4vw
  }
  li:hover {
    color: white;
  }
  .burger_menu {
    display: none;
  } 
  .header_text {
    display: none;
  }
  /* Heaader */

}
/* 1200px */

/* 1600px */
@media (min-width: 1600px) {
  header {
    height: 12vh;
  }
  .logo img {
    width: 11vh;
    height: 11vh;
  } 
  li {
    font-size: 2.7rem;
  }
  .catalog_text {
    font-size: 4rem;
  }
  h2 {
    font-size: 4rem;
  }
  .footer_container {
    font-size: 4rem;
  }
}
/* 1600px */